<!doctype html>
<html>
	<head>
		<title> passed data</title>
		<style>
			.flex-container {
			  display: flex;
			  background-color: DodgerBlue;
			}

			.flex-container > div {
			  background-color: #f1f1f1;
			  margin: 10px;
			  padding: 20px;
			  width: 45%;
			  font-size: 20px;
			}
			
			td{
				padding: 10px;
				border: 2px solid #8ebf42;
				text-align: center;
			}
			
			#image{
				height: 10%;
				width: 50%;
			
			}
			
			#image1{
				height: 100%;
				width: 100%
			}
		</style>
	</head>
	
	<body>
		<h1><center>{{p}}</center></h1>
		<br>
		<div class="flex-container">
			
				<div class="flip_list">
					<table>
						
						<tr>
							<th colspan="3"><center><img id="image" src="../static/images/flipkart.jpg"></center></th>
						</tr>
						
						{% for item in li %}
						<tr>
							<td><img id="image1" src="{{item[1]}}">
							<td><a href="{{item[0]}}">{{item[2]}}</a></td>
							<td>{{item[3]}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				<div class="amaz_list float-right">
					<table>
						<tr>
							<th colspan="3"><center><img id="image" src="../static/images/amazon.jpg"></center></th>
						</tr>
						{% for item in li_amaz %}
						<tr>
							<td><img id="image1" src="{{item[1]}}">
							<td><a href="{{item[0]}}">{{item[2]}}</a></td>
							<td>{{item[3]}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				
		</div>
		
		
		
	</body>
</html>